body{
    margin: 0;
    font-size: 15px;
    background-color: rgb(239, 233, 227);
    
}
*{
    font-family: monospace;
}

header{

    background-color: rgb(58, 226, 226);
    height: 100vh;
    color: white;
    

}
header h1{

    margin: 0;
    color: white;
}
 .button{
      
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(253, 251, 250);
    
    
 }
 .button:hover{
    background-color: rgb(180, 91, 46);
    cursor: pointer;
    color: white;
 }
 img{
    height: 300px;
    width: 250px;
    border-radius: 20px;
}
    

 section{
    height: 100vh;
    border: 3px solid grey;
    border-radius: 23px;
    margin-bottom: 20px;
 }
 main{
    padding: 20px;
 }
 h1{
    color: rgb(58, 226, 226);
    font-size: 3rem;
 }
 
 .submit{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(58, 226, 226);
    color: rgb(10, 7, 7);

 }  
    .submit:hover{
        background-color: rgb(11, 171, 171);
        cursor: pointer;
        color: white;
    }
    input{
        height: 25px;
        width: 300px;
        border-radius: 10px;
        border: 2px solid grey;
    }
   .top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    border: 1px solid gray;
    background-color: rgb(11, 75, 75);
    color: white;
    cursor: pointer;
    border-radius: 50px;
   }
    .top:hover{
     background-color: rgb(1, 45, 45);
     cursor: pointer;
     color: white;
    }








 footer{
    height: 100px;
    background-color: rgb(1, 11, 11);
    color: gray;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
 }
